.header {
    height: auto;
    /* background: #485563;
    background: -webkit-linear-gradient(to left, #29323c, #485563);
    background: linear-gradient(to left, #29323c, #485563); */
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: relative;
    user-select: none;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin: 0;
}

.header__navbar-item+.header__navbar-item {
    margin-left: 10px;
}

.header__navbar-item {
    position: relative;
    padding: 8px 0;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
}



.header__navbar-item-link {
    position: relative;
    bottom: 2px;
}


.header__navbar-item--bold {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #FB9086;
    top: 50%;
    right: calc(100% + 6px);
    transform: translateY(-50%);
}

.header__navbar-item:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header__navbar-icon {
    font-size: 2rem;
}

.no-fade:hover {
    opacity: 1;
}

.header__navbar-user {
    display: flex;
    align-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-img {
    box-shadow: 0 0 2px black;
}

.header__navbar-user-img {
    border-radius: 50%;
    width: 30px;
}

.header__navbar-user-name {
    padding-left: 8px;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 500;
    width: 150px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.386);
    display: none;
    animation: notify-growth linear 0.3s;
    transform-origin: calc(100% - 40px) 0;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent white transparent;
    bottom: calc(100% - 9px);
    right: calc(0px + 20px);
    z-index: -1;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-item {}

.header__navbar-user-item a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    display: block;
    padding: 8px;
    transition: all linear 0.2s;
}

.header__navbar-user-item a:hover {
    background-color: #000f382d;
}

/* qr code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: calc(100% + 0px);
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn linear 0.2s;
    z-index: 1;
}


.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    padding: 0 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__qr-download-img {
    width: 65px;

}

.header__navbar-item--qr:hover .header__qr {
    display: block;
}

/* notification */
.header__notify {
    display: none;
    position: absolute;
    width: 404px;
    background-color: var(--white-color);
    top: 100%;
    right: 0;
    border: 1px solid #D3D3D3;
    cursor: default;
    animation: notify-growth linear 0.25s;
    -moz-animation: notify-growth linear 0.25s;
    -webkit-animation: notify-growth linear 0.25s;
    -o-animation: notify-growth linear 0.25s;
    transform-origin: calc(100% - 40px) 0px;
    /*++++++++++++++++++++++++++++++++*/
    will-change: opacity, transform;
    z-index: 5;
}

.header__show-notify:hover .header__notify {
    display: block;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -24px;
    right: 20px;
}

@keyframes notify-growth {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

.header__notify-header {
    height: auto;
    color: rgba(0, 0, 0, 0.334);
    padding: 0 10px;
}

.header__notify-list {
    padding: 0;
}

.header__notify-item {
    padding: 0 6px;
    transition: all linear 0.2s;
}

.header__notify-item:hover {
    background-color: #001e4d4d;

}

.header__notify-item+.header__notify-item {
    margin-top: 10px;
}

.header__notify-link {
    display: flex;
    height: 60px;
    align-items: center;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    height: min-content;
}

.header__notify-info {
    flex: 1;
    margin-left: 10px;
    font-weight: 400;
}

.header__notify-name {
    display: block;
    color: var(--black-color);
}

.header__notify-discreption {
    display: block;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.573);
}

.header__notify-footer {
    height: 40px;
    text-align: center;
}

.header__notify-footer a {
    line-height: 40px;
    text-decoration: none;
}

.header__notify-footer a:hover {
    text-decoration: underline;
}

/* Authen Modal */
.auth-form {
    width: 500px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
    padding-bottom: 16px;
    user-select: none;
    background-color: white;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--black-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: rgb(255, 89, 0);
    font-weight: 450;
    cursor: pointer;

}

.auth-form__form {}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid rgba(0, 0, 0, 0.419);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: rgba(0, 0, 0, 0.777);
}

.auth-form__aside {
    margin-top: 18px;

}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link {
    text-decoration: none;
    color: rgb(255, 60, 0);
}

.auth-form__controls {
    margin-top: 80px;
    text-align: right;
}

.auth-form__socials {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    background-color: #D3D3D3;
}

.btn--width-icon {
    line-height: 36px;
    font-size: 1.8rem;
    padding: 0 6px;

}

.btn--width-icon+.btn--width-icon {
    margin-left: 10px;
}

.fa-square-facebook {
    color: blue;
}

.fa-google {
    color: red;
}

/* login */
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.6rem;
    margin-left: 20px;
    position: relative;
}

.auth-form__help-link+.auth-form__help-link::after {
    content: "";
    display: block;
    position: absolute;
    height: 18px;
    background-color: rgba(2, 2, 2, 0.342);
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 9px);
}

/* Header with search */
.header-with-search {
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.header__logo {}

.header__logo-img {
    width: 200px;
}

.header__search {
    height: 40px;
    margin-left: 40px;
    background-color: white;
    border-radius: 2px;
    flex: 1;
    display: flex;
    align-items: center;

}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1.4rem;
    padding: 0 20px;
    border-radius: 2px;
}

.header__search-select {
    font-size: 1.3rem;
    height: 60%;
    border-left: 1px solid rgba(0, 0, 0, 0.405);
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.header__search-option {

    margin: 0;
    position: absolute;
    list-style: none;
    top: calc(100% + 13px);
    right: 0;
    width: 100%;
    padding: 0;
    background-color: #fcf9f9;
    display: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.138);
    border-radius: 3px;
    animation: fall linear 0.2s;
    transform-origin: 0 0;
}



.header__search-option::after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 20px;
    bottom: 100%;
    right: 0;
}

.header__search-option-item {
    padding: 8px 0 8px 15px;
}



.header__search-option-item:hover {
    background-color: #00184439;
    transition: all linear 0.2s;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-select:hover .header__search-option {
    display: block;
}



.header__search-icon {
    background-color: #00133d;
    width: 50px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    margin: 0 8px;
    transition: all linear 0.1s;
}

.header__search-icon:hover {
    background-color: #00498a;
}

.header__cart {
    margin: 0 40px;
    position: relative;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: white;
}

.header__cart-icon:hover {
    color: rgb(227, 222, 222);
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 20px);
    right: -20px;
    width: 400px;
    display: none;
    animation: notify-growth linear 0.3s;
    transform-origin: calc(100% - 30px) 0;
    background-color: white;
    z-index: 1;
    will-change: transition;
}

.header__cart-list::after {
    content: "";
    display: block;
    position: absolute;
    bottom: calc(100% - 2px);
    right: 12px;
    border: 20px solid;
    border-color: transparent transparent white transparent;
}

.header__cart:hover .header__cart-list {
    display: block;
}

.header__cart-list--no-cart {}

.header__cart-no-cart-img {
    width: 100%;
    display: none;
}

.header__cart-list.header__cart-list--no-cart img {
    display: inline-block;
}



.header__cart-notice {
    position: absolute;
    background-color: rgb(228, 218, 218);
    border-radius: 10px;
    padding: 1px 8px;
    bottom: calc(100% - 5px);
    right: -10px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;

}

/* search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100% - 16px);
    background-color: white;
    border-radius: 3px;
    display: none;
    animation: fall linear 0.3s;
    transform-origin: 0 0;
    z-index: 1;
}

@keyframes fall {
    from {
        transform: rotateX(90deg);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.header__search-history-heading {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0.5;
    padding: 8px 20px;
}

.header__search-history-list {
    margin: 0;
    list-style: none;
    padding: 0;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item:hover {
    background-color: #00306737;
    transition: all linear 0.2s;
}

.header__search-history-item a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.4rem;
}

.header__search-input:focus~.header__search-history {
    display: block;
}


/* list cart */
.header__cart-heading {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 450;
    opacity: 0.5;
    padding: 10px 20px;
}

.header__cart-list-item {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__cart-item {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    transition: all linear 0.2s;
}

.header__cart-item:hover {
    background-color: #000f383b;
}

.header__cart-img {
    width: 80px;
}

.header__cart-item-info {
    flex: 1;
    margin-left: 10px;
}

.header__cart-item-head {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-name {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
}

.header__cart-item-price-wrap {}

.header__cart-item-price {
    font-size: 1.4rem;
}

.header__cart-item-multiply {}

.header__cart-item-qnt {}

.header__cart-item-body {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-weight: 400;
}

.header__cart-item-description {
    opacity: 0.6;
}

.header__cart-item-remove {
    font-weight: 500;
    font-size: 1.4rem;
    color: #000f38;
    cursor: pointer;
}

.header__cart-item-remove:hover {
    color: #004789;
}

.header__cart-view-cart {
    float: right;
    margin: 10px;
}

/* app container */
.app__container {
    background-color: #F5F5F5;
    user-select: none;
    position: relative;
}

.app__content {
    padding: 20px 0;
}

.category {
    background-color: white;
}

.category__heading * {
    padding: 0;
    margin: 0 3px;
}

.category__heading {
    display: flex;
    padding: 10px 20px;
    font-size: 1.4rem;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
}

.category-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.category-item {
    height: 40px;
}

.category-item__link {
    display: block;
    text-decoration: none;
    line-height: 40px;
    font-size: 1.4rem;
    color: black;
    font-weight: 450;
    padding: 0 15px;
    position: relative;
    left: 0px;
    will-change: color;
}

.category-item--active .category-item__link:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    border: 5px solid;
    border-color: transparent transparent transparent #003067;
    animation: fadeIn linear 0.2s;
    transition: all linear 0.2s;
    display: block;
    filter: brightness(2);
}

.category-item--active:hover .category-item__link {
    filter: brightness(2);
    color: #003067;
    left: 5px;
    transition: all linear 0.2s;
}

/* home filter */
.home-filter {
    background-color: #e8e4e4;
    padding: 20px;
}

.home-filter__label {
    font-size: 1.4rem;
    padding: 0 5px;
    display: inline-block;
    line-height: 36px;
}

.btn--filter {
    background-color: white;
    margin: 0 5px;
    min-width: 50px;
    width: 90px;
}


.select-input {
    display: inline-flex;
    height: 36px;
    background-color: white;
    position: relative;
    width: 150px;
    padding: 0 10px;
    margin: 0 5px;
    justify-content: space-between;
    font-size: 1.4rem;
    align-items: center;
}

.select--input__label {
    font-weight: 500;
}

.select-input__list {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
    display: none;
    animation: fall linear 0.3s;
    transform-origin: 0 0;
    z-index: 1;
}

.select-input__list::after {
    content: "";
    display: block;
    position: absolute;
    width: 150px;
    height: 5px;
    bottom: 100%;
    right: 0;
}

.select-input__item {
    height: 36px;
}

.select-input__link {
    display: block;
    text-decoration: none;
    color: black;
    line-height: 36px;
    padding: 0 10px;
    transition: all linear 0.1s;
}

.select-input__link:hover {
    background-color: #00255838;
}

.select-input:hover .select-input__list {
    display: block;
}

.home-filter__page {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    width: 150px;
    height: 36px;
    align-items: center;
    float: right;
}

.home-filter__page-num {
    display: block;
    line-height: 36px;
}

.home-filter__page-current {}

.home-filter__page-control {}

.home-filter__page-btn {
    background-color: white;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    width: 36px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: all linear 0.2s;
}

.home-filter__page-btn:hover {
    color: #003067;
    transform: scale(0.9);
    filter: brightness(2);
}

/* product */
.home-product-item {
    background-color: white;
    margin-top: 20px;
    position: relative;
    transition: all linear 0.2s;
    will-change: transform, box-shadow;
}

.home-product-item:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.381);
}

.home-product-item__img {
    padding-bottom: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-product-item__name {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 10px;
    font-weight: 450;
}

.home-product-item__price {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.home-product-item__price-old {
    text-decoration: line-through;
    opacity: 0.7;
}

.home-product-item__price-current {
    font-weight: 600;
    color: #040c53;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 1.3rem;
    color: #040c53;
    transition: all linear 0.2s;
}

.home-product-item__like {}

.heart-liked {
    display: none;
}

.home-product-item__like-liked:hover .heart-liked {
    display: inline;
}

.home-product-item__like-liked:hover .heart {
    display: none;
}

.home-product-item__rating {}

.home-product-item__origin {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px;
    opacity: 0.7;
}

.home-product-item__brand {}

.home-product-item__origin-name {}

.home-product-item__favourite {
    background-color: currentColor;
    color: #3e5151;
    position: absolute;
    top: 10px;
    left: -5px;
    padding: 0px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.home-product-item__favourite::after {
    content: "";
    display: block;
    position: absolute;
    border: 3px solid;
    border-color: currentColor currentColor transparent transparent;
    top: 100%;
    left: 0;
    filter: brightness(0.8);
}

.home-product-item__favourite i {
    color: white;
}

.home-product-item__favourite span {
    color: white;
}

.home-product-item__sale-off {
    text-transform: uppercase;
    background-color: currentColor;
    color: yellow;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 800;
    width: 40px;
    padding: 2px 0;
    opacity: 0.85;
}

.home-product-item__sale-off::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: red;
}

.home-product-item__sale-off-label {
    color: #08126a;
}


/* pagination */
.pagination {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    align-items: center;
}

.pagination--product {
    margin-top: 30px;
}

.pagination-item__link {
    text-decoration: none;
    background-color: transparent;
    color: black;
    opacity: 0.5;
    display: block;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: all linear 0.3s;
    will-change: background-color, opacity, color;
}

.pagination-item__link:hover {
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    opacity: 1;
    color: white;
}

.pagination-item__link--disable:hover {
    background: transparent;
    opacity: 0.5;
    color: black;
}

.pagination-item {
    margin: 0 10px;
}

/* footer */
.footer {
    border-top: 3px solid #003067;
    transition: all linear 0.2s;
    position: relative;
}

.footer:hover {
    border-color: #0a55ac;
}

.grid__footer-padding {
    padding: 30px 0;
}

.footer__heading {
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 0;

}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-item+.footer-item {
    margin-top: 8px;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    opacity: 0.6;
    transition: all linear 0.2s;
    will-change: color, opacity, font-weight;
}

.footer-item__link:hover {
    color: #f53e3d;
    opacity: 1;
    font-weight: 500;
}


.footer__download {
    display: flex;
    justify-content: space-between;
}

.footer__download>img {
    /* object-fit: contain; */
    width: 50%;
}

.footer__download-apps {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-apps img+img {
    /* width: 100%; */
    margin-top: 15px;
}

.footer__copyright {
    background-color: #f5f5f5;
}

.copyright {
    text-align: center;
    font-size: 1.5rem;
    line-height: 40px;
    margin: 0;
    opacity: 0.5;
    font-weight: 600;
}

/* sagiri */
.sagiri-header{
    position: absolute;
    width: 100px;
    bottom: 0;
    left: 30px;
    animation: sagiri linear 1.5s;
}

@keyframes sagiri{
   from{
       transform: translateX(calc(-100% - 30px));
    }to{
        transform: translateX(0);
    }
}

.sagiri-dance{
    position: absolute;
    height: calc(100% - 40px);
    top:0;
    left: 40%;
}

.sagiri-lying{
    position: absolute;
    width: 100px;
    right: 50px;
    z-index: 4;
    top: calc(100% - 132px);
    animation: fadeIn linear 1.5s;
}

.sagiri-lying-on{
    position: absolute;
    width: 180px;
    bottom: calc(50% - 11px);
    right: 43%;
    z-index: 3;
    animation: sagiri-fall linear 1.5s;
}

@keyframes sagiri-fall{
    from{
        transform: translateY(-100%);
    }to{
        transform: translateY(0);
    }
}

.sagiri-gun{
    position: absolute;
    width: 350px;
    left: 0;
    top: 250px;
    animation: growth linear 1.5s;
}