/* Block */
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s linear;
    min-width: 120px;
}

.btn--success{
    background-color: rgb(33, 211, 13);
}

.btn--danger{
    background-color: rgb(223, 16, 16);
}

.btn:hover{
    opacity: 0.5;
}

.btn + .btn{
    margin-left: 12px;
}